.main-title{
    color:rgb(7, 160, 84);
    font-family: "Georgia", "Arial", sans-serif;
    text-align: center;
    font-weight: 1000;

}

h2{
    color:rgb(54, 200, 127);
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.bg1 h2{
    color: rgb(176, 119, 66);
}

img{
    width: 400px;
    height: auto;
}

.recipe-body{
    background-color: rgb(255, 242, 226);
}

.bg-all{
    width: 1000px;
    margin: 20px auto;
}

.bg1{
    background-color: rgba(54, 200, 127, 0.389);
    display: flex;


}



.index-body{
    background-color: rgba(251, 212, 161, 0.737);
    /* margin: 2px; */

}

.index-body ul{
    background-color: rgba(54, 200, 127, 0.389);
    width:1000px;
    height: 550px;
    padding: 0px;
    align-content: center;
    margin: auto;
    box-sizing: border-box;
  

    /* box-sizing: border-box; */

}

.recipe-body .main-title {
    color:rgb(6, 125, 65);

}

p,li {
    font-size: 19px;
    font-family: "Georgia", "Arial", sans-serif;
}

.recipe-body .bg2 ul li{
    font-weight: 600;
    /* text-align: center; */
}

ul {
    list-style: none;
}


.index-body ul li{
    font-weight: 100;
    font-family: "Georgia", "Arial", sans-serif;
    text-align: center;
    padding: 40px;
    margin:20px auto;
    /* width: ; */
    height: 100px;
    width: 800px;
    border: 4px solid rgba(39, 51, 38, 0.895);
    /* vertical-align: center; */
    /* background-color: aqua; */
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
.index-body ul li:hover{
    border: 4px solid rgba(46, 220, 11, 0.895);

}


a {
    font-family: "Georgia", "Arial", sans-serif;

}